body {
    margin: 0 auto;
    max-width: 700px;
    min-width: 0;
    padding: 0 10px 25px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 1em;
    padding-top:  1em;
}

nav a {
    margin-left: 20px;
    text-align: right;
}

body {
    color: #444;
    display: grid;
    row-gap: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: 60px auto;
    grid-template-areas: 
    "header nav"
    "ct ct";
}

h1 h2 strong {
    color: #222;
}

header {
    margin: 0px;
    font-size: 23px;
    grid-area: header;
    justify-self: left;
    align-self: end;
}

article {
    font-size: 16px;
    grid-area: ct;
    border-top: 2px solid gray;
}
nav {
    font-size: 18px;
    letter-spacing: 1px;
    grid-area: nav;
    justify-self: right;
    align-self: end;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 23px;
}

a {
    color: #ffa64d;
}

@media screen and (max-width: 430px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
        grid-template-areas: 
        "header"
        "nav"
        "ct";
    }

    header { 
        text-align: center;
        justify-self: center;
    }

    nav a {
        margin: 0 10px;
    }
}